body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #808080;
}

.container {
    text-align: center;
}

img {
    width: 300px; /* Voit säätää kokoa */
    cursor: pointer;
    transition: transform 0.1s;
}

img:active {
    transform: scale(0.9); /* Pienennetään kuvaa klikkaushetkellä */
}

.captcha-container {
    text-align: center;
    padding: 20px;
    border: 1px solid #580b63;
    border-radius: 5px;
    background-color: #0fc72d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}
